@import 'jquery.terminal/css/jquery.terminal';
@import 'jsvi/vi';

#shell
{
    min-width: 480px;
}

#editor
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
}

.editor
{
    z-index: 40000;
    pre
    {
        border: inherit;
        background-color: inherit;
    }
}

.editorcursor
{
    z-index: 10;
}
