@import 'jquery.terminal/css/jquery.terminal';
@import 'jsvi/vi';

html,
body
{
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #000;
}

#shell
{
    min-width: 480px;
}

#editor
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
}

.editor
{
    z-index: 5;
}

.editorcursor
{
    z-index: 10;
}
